html,
:root {
  --pixelite-blue: #007DE9;
  --pixelite-grey: #373737;
  --pixelite-offwhite: #FFFF;
  --pixelite-light-grey: #232323;
  --pixelite-background: radial-gradient(198.63% 293.41% at 50.66% -7.39%, rgba(153, 163, 255, 0.2) 0%, rgba(4, 2, 14, 0) 100%), #000000;
}

lottie-player{
  margin: 0 auto;
}

body { 
  margin: 0;
  text-align: center;
  font-family: "Rubik";
}

.combined-heading > h1{
  color: var(--pixelite-blue);
  margin-top: 0.25rem;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.combined-heading > h2 {
  color: var(--pixelite-blue);
  font-weight: 300;
  margin-bottom: 0px;
  font-size: 1.8rem;
}

.combined-heading > p {
  font-size: 18px;
  margin-top: 0;
  width: 90%;
  margin: 0 auto;
}

.learn-more p {
  color: var(--pixelite-blue);
  font-weight: 500;
}




#why-list {
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#why-list h2{
  margin-bottom: 0.5rem;
}

#why-list h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0.2rem 0;
  color: var(--pixelite-blue);
}



a {
  text-decoration: none;
  color: var(--pixelite-light-grey);
}


 
#why-list > * {
  padding: 1.5rem;
}

#features-container .pixelite-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.pixelite-section > div > h1{
  color: var(--pixelite-light-grey);
}

.pixelite-background > .pixelite-section > div > * {
  color: var(--pixelite-offwhite)
}






h4{
  font-size: 22px;
  color: var(--pixelite-blue);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

h3:not(.pixelite-header){
  font-size: 30px;
  color: var(--pixelite-grey);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0rem;
}

p {
  color: #545465;
  font-size: 1rem;
  line-height: 1.4rem;
}

/* General Components */
.pixelite-header {
  color: var(--pixelite-blue);
  font-weight: 450;
  font-size: 2.8rem;
}

.button {
  top:50%;
  background-color:var(--pixelite-blue);
  color: #fff;
  border:none;
  border-radius:5px;  
  font-size: 22px;  
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  transition: color 0.5s;
  transition: background-color 0.5s;
  font-size: 1.2rem;
}

button { 
  background: none;
}

#hero-buttons button {
  width: 14rem;
  background-color: var(--pixelite-blue);
}

#hero-buttons button:hover{
  color: white;
  background-color: rgba(0,125,233,.5);
  
}



.button:hover{
  background-color: white;
  color: var(--pixelite-blue);
  transition: color 0.5s;
  transition: background-color 0.5s;
}

.pixelite-subheader {
  color: white;
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.pixelite-blue {
  color: var(--pixelite-blue);
}

.pixelite-white {
  color: var(--pixelite-offwhite);
}

blockquote {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  color: #373737;
}

blockquote h5 {
  color: var(--pixelite-blue);
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  text-align: left;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
  text-align: right;
}

.quote {
  width: 100%;
  font-size: 4rem;
}

.quote.left {
  text-align: left;
  
}

.pixelite-white {
  color: var(--pixelite-offwhite);
}

.pixelite-grey { 
  color: var(--pixelite-light-grey);
}

.mobile-break {
  display: inline;
}

.mobile-show { 
  display: inline;
}

.tablet-show {
  display: none;
}

.desktop-show { 
  display: none;
}

.desktop-break { 
  display: none;
}

.slideshow-active {
  display: inline;
}

.slideshow-inactive {
  display: none;
}

.pixelite-background {
  background: var(--pixelite-background);
  padding: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#drive {
  margin-top: 3rem;
}


/* Upper section */
#upper-section {
  background: var(--pixelite-background);
  height: 35rem;
  position: relative;
  margin-bottom: 5rem;
}

nav { 
  margin-bottom: 4rem;
  padding-top: 2rem;
}

nav > a > img {
  width: 30%;
  min-width: 150px;
  max-width: 165px;
}

.nav-menu {
  position: fixed;
  left: -150%;
  flex-direction: column;
  background-color: white;
  width: 75%;
  max-width: 500px;
  height: 100vh;
  text-align: center;
  transition: 0.3s;

  margin-top: 0;
  padding-top: 0;
  z-index: 99;

}

#menu-header{
  
  padding: 2rem 0;
  background: var(--pixelite-background);
  width: 100%;
  text-align: left;
}

#menu-header img {
  margin-left: 1.5rem;
}

.nav-menu nav {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-left: 1.5rem;
}

.nav-menu .nav-item {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  align-items: center; 
}

.sub-menu {
  margin-left: 2.4rem !important;
  position: relative;
  display: none;
}

.sub-menu.active {
  margin-left: 2.4rem !important;
  position: relative;
  display: grid;
}

.sub-menu p {
  font-size: 1rem !important;
}

.desktop-sub-menu {
  display: none;
}


.nav-menu .nav-item:not(:last-child){
  border-bottom: 2px solid rgba(176, 189, 193, 0.1);
}


.nav-link {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-menu p {
  width: 50%;
  color: var(--pixelite-light-grey);
  font-size: 1.1rem;
}

.nav-menu svg {
  width: 50%;
  max-width: 24px;
  padding-right: 0.75rem;
}




.nav-menu.active {
  left: 0;
  padding-left: 0;
  box-shadow: 30rem 0px rgba(0, 0, 0, 0.5);;
}

.hamburger {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 85%;
  top: 3rem;
  z-index: 100;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.triangle {
  border-right: 2px solid; 
  border-bottom: 2px solid;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  margin-left: auto;
  transition: 0.5s;
}

.triangle.active {
  transform: rotate(225deg);
  transition: 0.5s;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

#hero-buttons { 
  position: absolute;
  left:0;
  right: 0;
  bottom: 10rem;
}

#work-button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Statistics */

#statistics-container {
  width: 80%;
  max-width: 30rem;
  min-width: 15rem;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 1rem;
  max-width: 900px;
}

#statistics-container > div > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#statistics-container > div > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--pixelite-grey);
  font-size: 20px;;
  text-transform: capitalize;
  font-weight: 500;
}

.pixelite-section{
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.pixelite-section > div > h1 {
  font-size: 2.1rem;
  font-weight: 500;
}

.pixelite-section > img {
  width: 50%;
  max-width: 350px;
  min-width: 200px;
  max-height: 350px;
}

.pixelite-section > .lottie {
  width: 50%;
  max-width: 350px;
  min-width: 200px;
  max-height: 350px;
  margin: 0 auto;
}

.project-tile {
  width: 60%;
  min-width: 300px;
  max-width: 300px;
  text-align: left;
  color: var(--pixelite-offwhite);
  margin: 0 auto;
  background-color: var(--pixelite-light-grey);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  transition: background-color 2.5s;
  display: flex;
  flex-direction: column;
}

.project-tile > p { 
  color: var(--pixelite-offwhite);
  margin-bottom: 2rem;
}

.project-tile a {
  margin-top: auto;
  align-items: flex-end;
  
}

.slider {
  text-transform: lowercase;
  font-style: normal !important;
  font-size: 2.7rem !important;

}


.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  font-weight: 400;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: #1aa6e2;
}
.cd-words-wrapper b.is-visible {
  position: relative; }


#website-header {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#website-header .title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  color: var(--pixelite-blue);
}

#website-header h2 {
  margin-top: 0;
  font-size: 1.4rem;
  color: var(--pixelite-light-grey);
}

.title :not(.show) {
  display: none;
}

#why-us-slides {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


#why-us-slides > div:not(.vl) {
  max-width: 500px;
  margin: 2rem auto;
}

.circle {
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px;

  background: #fff;
  border: 2px solid var(--pixelite-blue);
  color: var(--pixelite-blue);
  text-align: center;

  font: 24px Arial, sans-serif;
}

.vl {
  border-left: 6px solid var(--pixelite-blue);
  height: 100px;
  margin: 0 auto;
  background-position: right;
}






.project-tile:hover{
  background-color: #007DE9;
  transition: 2.5s;
}

.project-tile:hover > svg > g > path{
  fill: var(--pixelite-offwhite);
  transition: 2.5s;
}

.project-tile > svg > g > path{
  fill: var(--pixelite-blue);
  transition: fill 2.5s;
}


.project-tile > svg {
  width: 10%;
}

.pixelite-section > .combined-heading > h1 { 
  font-size: 36px;
}


#image-scroller {
  list-style-type: none;
  overflow: hidden;
  padding: 80px 0;
  padding-bottom: 10px;
  white-space: nowrap;
}

#work button {
  color: var(--pixelite-grey);
  text-transform: none;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 80px;
  border: none;
  
}

#image-scroller:hover > *{
  animation-play-state: paused;
}

.scroller-slide {
  display: inline-block;
  animation: scroll 25s linear infinite;
  padding-left: 0px;
  overflow: hidden;
  position: relative;
}



.scroller-slide > * {
  width: 300px;
  height: 300px;
  margin: 0 5px;
  background: var(--pixelite-background);
  overflow: hidden;
  transition: transform 0.5s;
}






.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

#website-testimonials .combined-heading {
  margin-bottom: 2rem;
}


.website-testimonial {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.website-testimonial h1 {
  margin-bottom: 0;
}

.website-testimonial img{
  width: 90%;
  max-width: 750px;
}

.testimonial-link {
  display: flex;
}

.testimonial-link svg {
  width: 24px;
  margin-right: 1rem;
}

.testimonial-review {
  margin-top: 2rem;
  max-width: 600px;
  width: 90%;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: white;
}

.testimonial-review p {
  font-size: 1.1rem;
}

.testimonial-review p::before, .testimonial-review p::after {
  content: "'";
}






@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0px);
    opacity: 100;
  }
  50% {
      opacity: 60%;
  }
  100% {
    transform: translateX(-400px);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  50% {
      opacity: 60%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}


.price-card {
  width: 90%;
  max-width: 350px;
  margin: auto;
  border-radius: 11px;
  padding: 1rem;
  border: 3px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;

}

.price-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.price-small {
  font-size: 2.5rem;
  
}

.price-card h3 {
  margin-bottom: 0.5rem;
}

.price-card > p {
  width: 80%;
  margin: auto;
  
}

.price-card h2 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.price-card > ul {
  justify-content: center;
  align-items: center;
  text-align: left;
  list-style-type: none;
  padding-left: 4rem;
  padding-right: 4rem;
  line-height: 1.7rem;
  
}
.price-card > ul img{
  width: 24px;
  padding-right: 1rem;
}

.price-card ul div {
  display: flex;
  margin: 0 auto;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.price-card > ul li{
  display: inline;
}

.price-card a {
  align-items: flex-end;
  margin-top: auto;
}

.price-card a button {
  margin-top: 2rem;
}


.prices .price-card{
  margin-top: 30px;
  margin-bottom: 30px;
}



.prices { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: auto;
}


.packages {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.packages .combined-heading {
  margin-bottom: 1rem;
}




#past-work > img {
  width: 12%;
}

#footer {
  background: var(--pixelite-background);
  margin-top: 6rem;
  padding-top: 2rem;
}

#footer > img {
  width: 30%;
  max-width: 150px;
}

#footer > section {
  margin: auto;
  text-align: center;
   
}

#footer > section > ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
  color: var(--pixelite-offwhite);
}

#footer > section > h3{
  color: var(--pixelite-offwhite);
  font-size: 1.3rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
}


#footer #social-icons > img{
  width: 5%;
  max-width: 40px;
  padding: 1.1rem;

}

#why-list > div > img{
  width: 72px;
  max-width: 72px;
  height: 72px;
}

#why-list > div > svg{
  width: 72px;
  max-width: 72px;
  height: 72px;
}



#contact-us {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}

#contact-us form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 2rem;
  
}

#contact-us form div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem 0;
}

#contact-us form div label {
  margin-bottom: 0.5rem;
}

#contact-us .combined-heading h1 {
  font-size: 3rem;
}

#contact-us .combined-heading p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  width: 90%;
}

#contact-us .combined-heading div {
  display: flex;
  margin: 0rem 0;
  align-items: center;
  justify-content: center;
}

#contact-us .combined-heading div svg {
  width: 32px;
  margin-right: 1rem;

}
#contact-us form div input {
  height: 2rem;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: '__RUBIK_98E1B5';
  font-size: 1rem;

}

#contact-us .error {
  text-align: center;

}

input:focus, textarea:focus {
  outline: none;
}

#contact-us form div textarea {
  height: 9rem;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
  resize: none;
  padding: 0.5rem;
  font-family: '__RUBIK_98E1B5';
  font-size: 1rem;
}

#contact-us button {
  width: 100%;
  font-size: 1.1rem;
}

#case-studies {
  max-width: 1400px;
  margin: 0 auto;
}

.case-study {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  align-items: center;
  margin: 5rem 0;

}

.case-study-contents{
  width: 60%;
  max-width: 600px;
  padding: 0rem 2rem 2rem 2rem;
  
  
}

.case-study-image img {

  width: 300px;
  height: 300px;
}


@media (min-width: 768px) { 

  
  .mobile-show {
      display: none;
  }
  .tablet-show {
      display: inline;
  }
  .desktop-break{
      display: inline;
  }

  .mobile-break{
    display: none;
  }

  #hero > h1 {
      max-width: 40%;
  }
  
  #hero > .pixelite-subheader { 
      position: absolute;
      top: 10;
      left:0;
      right: 0;
  }

  #hero-buttons { 
      bottom: 9rem;

  }

  #hero-buttons > .button { 
      margin-left: 1.2rem;
      margin-right: 1.2rem;
  }

  .pixelite-section {
    width: 80%;
    max-width: 60rem;
    margin: auto;
  }
  
  .pixelite-section > img {
    margin: auto;
  }

  .pixelite-section > div > h1 {
    font-size: 2.3rem;
    font-weight: 500;
  }
  .pixelite-section > div > p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  #why-list {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #why-list > div {
    display: inline;
    max-width: 40%;
    max-width: 300px;
  }
  

  #why-list > div > img{
    width: 72px;
    max-width: 72px;
    height: 72px;
  }


  .combined-heading {
    margin-top: 4rem;
  }
  
  


}
@media (min-width: 992px) { 

  #case-studies {
    margin: 0 auto;
  }

  .case-study {
    flex-direction: row;
    text-align: left;
    justify-content: center;
    font-size: 1.4rem;
  }

  .case-study.left {
    flex-direction: row-reverse;
    text-align: right;
  }

  .case-study-contents p {
    font-size: 1.19rem;
    line-height: 1.75rem;
  }


  .case-study.left .case-study-contents {
    padding: 0rem 2rem 2rem 2rem;
  }

  .case-study button {
    margin-top: 1.5rem;
  }



  .case-study .button {
    font-size: 1rem;
  }



  .desktop-sub-menu {
    position: absolute;
    display: none;
    left: auto;
    margin-left: 0;
    top: 5.5rem;
    background-color: white;
    padding: 0.5rem 0;
    filter: drop-shadow(0 0 0.4rem black);
  
  }

  .desktop-sub-menu div:hover {
    background-color: #E6E6E6;
  }
  

  .desktop-sub-menu p{
    margin-left: 2;
    color: black;
    font-size: 0.9rem;
    
  }

  .desktop-sub-menu a {
    width: 100%;
  }

  .desktop-sub-menu a{
    margin-left: 0;
  }

    .desktop-sub-menu div{
    margin-left: 0;

    width: 100%;
    
  }


  .desktop-sub-menu.active {
    display: inline;
  }

  .nav-menu.active {
    display: none;
  }


  .stats-smallscreen {
    display: none;
  }
  .desktop-show {
      display: inline;
  } 

  .pixelite-header {
      color: var(--pixelite-blue);
      font-weight: 450;
      font-size: 3.5rem;
  }
 
.combined-heading {
  max-width: 60rem;
  margin: auto;
  width: 80%;
  margin-top: 4rem;
}  

.combined-heading > h1 {
  color: var(--pixelite-blue);
  margin-top: 0.25rem;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.combined-heading > h2 {
  color: var(--pixelite-blue);
  font-weight: 300;
  margin-bottom: 0px;
  font-size: 1.8rem;
}

.combined-heading > p {
  font-size: 18px;
  margin-top: 0;
  width: 50%;
  margin: 0 auto;

}

  nav {
      display: flex;
      text-align: left;
      max-width: 60%;
      min-width: 1000px;
      max-width: 1300px;
      padding-bottom: 8rem;
      padding-top: 2rem;
      margin: auto;
      justify-content: space-between;
      padding-right: 5%;
      padding-left: 5%;
  }

  nav > div:last-child{
      margin-right: 10%;
  }

  nav > p {
      color: white;
  }

  nav div {
    display: flex;

  }

  nav div > *{
    display: flex;
    margin: 0 2rem;
  }

  nav div p{
    color: white;
    font-size: 19px;
    margin-right: 10%;
    margin-left: 10%;
  }

  nav 


  

  .hamburger {
    display: none;
  }

  #upper-section {
      background-color: black;
      height: 50rem;
      position: relative;
      margin-bottom: 5rem;
      overflow: hidden;
  }

  #statistics-container{
      display: flex;
      justify-content: space-evenly;
      max-width: 45%;
      min-width: 900px;
      max-width: 1100px;
  }

  #statistics-container > div > h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 2.5rem;
  }
  #statistics-container > div > h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      color: var(--pixelite-grey);
      font-size: 20px;
      text-transform: capitalize;
  }

  #hero-buttons { 
      bottom: 17rem;
  }

  .pixelite-section {
    display: flex;
    text-align: left;
    width: 80%;
    max-width: 60rem;
    margin: auto;
  }

  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }

  .left  img {
    padding-left: 5%;
  }

  .right  img {
    padding-right: 5%;
  }

  .left  .lottie {
    padding-left: 5%;
  }

  .lottie.left {
    padding-left: 5%;
  }

  .right  .lottie {
    padding-right: 5%;
  }
  
  
  .pixelite-section > img {
    margin: auto;
    min-width: 400px;
    min-height: 400px;
  }

  .pixelite-section > .lottie {
    margin: auto;
    min-width: 400px;
    min-height: 400px;
  }

  .pixelite-section > div > h1 {
    font-size: 2.3rem;
    font-weight: 550;
  }
  .pixelite-section > div > p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  #projects {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pixelite-background{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .project-tile { 
    margin: 0.4rem;
  }




}
@media (min-width: 1200px) {
  

.scroller-slide {
  display: inline-block;
  animation: scroll 25s linear infinite;
  padding-left: 0px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

} 

@media (min-width: 1800px) {
  #why-list{
    max-width: 1100px;
  }
} 